<!-- ================= EDUCATION ================= -->

<section class="education section" id="education">

    <div class="section-heading">

        <span>// EDUCATION</span>

        <h2>My Journey</h2>

    </div>

    <div class="timeline">

        <div class="timeline-item">

            <div class="timeline-dot"></div>

            <div class="timeline-content">

                <span class="year">2022</span>

                <h3>Secondary School (10th)</h3>

                <h4>BSEB</h4>

                <p>

                    Passed with <b>86%</b> and scored
                    <b>95%</b> in Mathematics.

                </p>

            </div>

        </div>

        <div class="timeline-item">

            <div class="timeline-dot"></div>

            <div class="timeline-content">

                <span class="year">2024</span>

                <h3>Higher Secondary (PCM)</h3>

                <h4>BSEB</h4>

                <p>

                    Passed with <b>82%</b>.
                    Highest score:
                    <b>97%</b> in Mathematics.

                </p>

            </div>

        </div>

        <div class="timeline-item">

            <div class="timeline-dot"></div>

            <div class="timeline-content">

                <span class="year">2024 - Present</span>

                <h3>B.Tech Cloud Computing</h3>

                <h4>Swami Vivekanand Subharti University</h4>

                <p>

                    Currently pursuing B.Tech in
                    Cloud Computing.

                    <br>

                    3rd Year • 5th Semester

                </p>

            </div>

        </div>

        <div class="timeline-item">

            <div class="timeline-dot"></div>

            <div class="timeline-content">

                <span class="year">Professional</span>

                <h3>Google Cybersecurity</h3>

                <h4>Professional Certificate</h4>

                <p>

                    Building practical skills in
                    Linux, Networking,
                    Security Operations,
                    Incident Response,
                    Python and Cybersecurity.

                </p>

            </div>

        </div>

        <div class="timeline-item">

            <div class="timeline-dot active"></div>

            <div class="timeline-content">

                <span class="year">Current Goal</span>

                <h3>Cybersecurity Internship</h3>

                <h4>2026</h4>

                <p>

                    Looking for internship
                    opportunities to gain
                    practical industry experience.

                </p>

            </div>

        </div>

    </div>

</section>