<!-- ================= GITHUB ================= -->

<section class="github" id="github">

    <div class="section-heading">

        <span>// GITHUB</span>

        <h2>GitHub Statistics</h2>

    </div>

    <div class="github-container">

        <!-- Profile -->

        <div class="github-card">

            <img
                src="assets/images/icons/github.png"
                alt="GitHub Stats">

        </div>

        <!-- Streak -->

        <div class="github-card">

            <img
                src="https://streak-stats.demolab.com?user=himanshu430408-eng&theme=tokyonight&hide_border=true"
                alt="GitHub Streak">

        </div>

        <!-- Languages -->

        <div class="github-card full">

            <img
                src="https://github-readme-stats.vercel.app/api/top-langs/?username=himanshu430408-eng&layout=compact&theme=tokyonight&hide_border=true"
                alt="Languages">

        </div>

    </div>

</section>