<nav class="navbar">

    <div class="container nav-container">

        <!-- Logo -->

        <a href="#home" class="logo">

            <img src="assets/images/logo.png" alt="HK Logo">

            <span>Himanshu Kumar</span>

        </a>

        <!-- Navigation -->

        <ul class="nav-links">

            <li><a href="#home">Home</a></li>

            <li><a href="#about">About</a></li>

            <li><a href="#education">Education</a></li>

            <li><a href="#skills">Skills</a></li>

            <li><a href="#cyber">Cyber Arsenal</a></li>

            <li><a href="#projects">Projects</a></li>

            <li><a href="#certificates">Certificates</a></li>

            <li><a href="#contact">Contact</a></li>

        </ul>

        <!-- Right -->

        <div class="nav-right">

            <a href="https://github.com/himanshu430408-eng"
               target="_blank">

                <i class="fab fa-github"></i>

            </a>

            <a href="https://www.linkedin.com/in/himanshu-tiwari-5baa2937b/"
               target="_blank">

                <i class="fab fa-linkedin"></i>

            </a>

            <button id="themeToggle">

                <i class="fas fa-moon"></i>

            </button>

            <button class="menu-btn">

                <i class="fas fa-bars"></i>

            </button>

        </div>

    </div>

</nav>