<!-- ================= PROJECTS ================= -->

<section class="projects" id="projects">

    <div class="section-heading">

        <span>// PROJECTS</span>

        <h2>Featured Projects</h2>

    </div>

    <div class="projects-grid">

        <!-- Project 1 -->

        <div class="project-card">

            <img src="assets/images/projects/password-checker.png"
                 alt="Password Checker">

            <div class="project-content">

                <h3>AI-Ransomware-Hunter-Pro-v4.5</h3>

                <p>
                    Python tool that checks password strength using
                    entropy, character diversity and security rules.
                </p>

                <div class="project-tech">

                    <span>Python</span>
                    <span>CLI</span>
                    <span>Regex</span>

                </div>

                <div class="project-buttons">

                    <a href="https://github.com/himanshu430408-eng/AI-Ransomware-Hunter-Pro-v4.5" class="btn btn-primary">
                        <i class="fab fa-github"></i>
                        GitHub
                    </a>

                    <a href="https://www.linkedin.com/feed/update/urn:li:activity:7477753780042678272/" class="btn btn-outline">
                        Demo
                    </a>

                </div>

            </div>

        </div>

        <!-- Project 2 -->

        <div class="project-card">

            <img src="assets/images/projects/port-scanner.png"
                 alt="Port Scanner">

            <div class="project-content">

                <h3>Python Port Scanner</h3>

                <p>
                    Fast multithreaded TCP port scanner for network
                    enumeration.
                </p>

                <div class="project-tech">

                    <span>Python</span>
                    <span>Socket</span>
                    <span>Networking</span>

                </div>

                <div class="project-buttons">

                    <a href="#" class="btn btn-primary">
                        GitHub
                    </a>

                    <a href="#" class="btn btn-outline">
                        Demo
                    </a>

                </div>

            </div>

        </div>

    </div>

</section>